
<h1>Welcome to Van Spots</h1>
<p>
  You have successfully signed up.
  Your username is: <%= @user.username %>.<br />
  Your login email is: <%= @user.email %><br />
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
<p> P.S. We're going to be improving this email soon!</p>
