<div class="container">
  <div class="text-center">
    <h1>About Van Spots</h1>
  </div>
  <div>
    <p>Van Spots was created as a learning exercise using Ruby on Rails.
    Hopefully it can be useful.</p>
    <p> More information coming soon!</p>
  </div>
</div>