<div class="container">
  <div class="text-center">
    <h1>How to use Van Spots</h1>
    <p>More details coming soon</p>
  </div>
  <div>
    <h2>Finding a Spot</h2>
    <p>There are two ways of finding a spot, you can either browse the Map or use the spot finder to browse for a spot</p>
  </div>
  <div>
    <h2>Signing Up</h2>
    <p>Click the link in the menu and sign up</p>
  </div>
  <div>
    <h2>Adding a Spot</h2>
    <p>Either find the location on the map and click there or enter the lat and lng yourself</p>
  </div>
  <div>
    <h2>Rating a Spot</h2>
    <p>View the spot and click rate this spot</p>
  </div>
  <div>
    <h2>Editing a Spot</h2>
    <p>If you are the owner then you can edit the spot. There should be a button</p>
  </div>
  <div>
    <h2>Editing your profile</h2>
    <p>Click the edit your profile button in the menu bar when logged in.</p>
  </div>
</div>