<header>
  <%= render partial: 'layouts/alerts' %>
  <div class="home-content">
    <div class="home-content-inner">
      <div id="homeHeading">
        <h1> <span class="headingBrandVan">Van</span> <span class="headingBrandSpots">Spots</span> </h1>
      </div>

      <hr>
      <p>Wild camping spots for those with Vans</p>
      <p>Now in Beta</p>
      <a href="#about" class="btn btn-primary js-scroll-trigger">About</a>
      <a href="#how_to" class="btn btn-primary js-scroll-trigger">How To</a>
      <hr>

    </div>
  </div>

</header>
<%= render partial: 'layouts/about' %>
<%= render partial: 'layouts/how_to' %>