<header>
  <%= render partial: 'layouts/alerts' %>
  <div class="home-content">
    <div class="home-content-inner">
      <div id="homeHeading">
        <h1> <span class="headingBrandVan">Van</span> <span class="headingBrandSpots">Spots</span> </h1>
      </div>

      <hr>
      <p>Now in Beta</p>
      <a href="#about" class="btn btn-primary page-scroll">About</a>
      <a href="#how_to" class="btn btn-primary page-scroll">How To</a>
      <hr>
      <div class="support-message">
        <p>Van Spots is an open-source work in progress.
          <br />
          All the core functionality is now live; you can sign up, add, find and review spots.
          <br />
          If you want to keep track of progress (or contribute with a pull request) you can see
          what needs doing on the <a href="https://trello.com/b/YGhCRscH/vanspots">Trello Board <i class="fab fa-trello"></i></a>
          and the codebase lives on <a href="https://github.com/phil-6/van-spots">GitHub <i class="fab fa-github"></i></a>.
          <br />
          If you want to get in touch with me, drop me an <a href="mailto:VanSpots@ElasticParsley.uk">email</a>.
          <br />
          Suggestions and more are welcome.
        </p>
      </div>

    </div>
  </div>

</header>
<%= render partial: 'layouts/about' %>
<%= render partial: 'layouts/how_to' %>