@import "variables";

#overboot {
  form {
    #error_explanation {
      h2 {
        color: $darkerorange;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }


  .user-form {
    text-align: center;
    max-width: 400px;
    width: 80%;
    margin: auto;

  }

  .other-actions {
    .btn {
      margin-bottom: 8px;
    }
  }
}