@import "variables";

body, html {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font;
  webkit-tap-highlight-color: #222;
}

.btn, .navbar-light, .navbar-light .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

hr {
  border-color: $brandsecondary;
  border-width: 3px;
  max-width: 50px;
}

#overboot {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

h1{
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 75px;
  background-image: image-url('purpleabstract.jpg');
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


.loading-icon{

}
.hide {
  display: none;
}
.show {
  display: block;
}



