@import "variables";
#overboot {

  header::before{
    /*min-height: auto;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: image-url('van_in_north_wales.JPG');
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

    //color: $notquitewhite;

    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: -250px;
    width: 100%;
    height: 150%;
    z-index: -1;
    opacity: 0.9;
  }

  header {
    position: relative;
    height: 100%;

    .home-content {
      position: relative;
      width: 100%;
      text-align: center;
      .home-content-inner {
        h1 {
          font-weight: 900;
          text-transform: uppercase;
          margin-top: 0;
          margin-bottom: 0;
          font-size: 80px;
          background-image: image-url('orangepurple.png');
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-attachment: fixed;
          /*color: #639;*/
          /*text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
        }
        hr {
          margin: 30px auto;
        }
        h2 {
          text-shadow:  1px 1px 12px $notquitewhite;
        }
        p {
          font-weight: 600;
          font-family: $font;
          color: $ink;
          font-size: 20px;
          margin-bottom: 50px;
        }
      }
    }
    
    @media only screen and (min-width: 576px ) {
      .home-content {
        padding: 100px 15px;
      }
    }
  }

  //.headingBrandVan {
  //  color: $brandprimary;
  //  display: inline;
  //}
  //.headingBrandSpots {
  //  color: $brandsecondary;
  //  display: inline;
  //}

  .content-header {
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 100px;
  }
}