@import "variables";

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
.map {
  height: 100%;
}
// .spot_map in spots-detail.scss

/*Info Window Tweaks*/
.infoWindowHeading{
  font-family: $heading-font
}

.infoWindowHeading{
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 360px;
}

.infoWindowContent p{
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 360px;
  //max-height: 160px;
  //white-space: pre;
  //overflow: hidden;
  //text-overflow: ellipsis;
}

@media only screen and (max-width:480px){
  .infoWindowHeading{
    max-width: 340px;
  }
  .infoWindowContent p {
    max-width: 340px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .gm-style-iw {
    max-width: 340px !important;
  }
}

@media only screen and (max-width:380px){
  .infoWindowHeading{
    max-width: 260px;
  }
  .infoWindowContent p {
    max-width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .gm-style-iw {
    max-width: 260px !important;
  }
}



/* Button Styling */
#showAllUI, #hideAllUI {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  /*float: left;*/
  margin-bottom: 3px;
  text-align: center;
}

#showAllText, #hideAllText {
color: rgb(25,25,25);
  font-family: $font;
  font-size: 15px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}