@import "variables";
#overboot {
  .navbar {
    background-color: $whitetransparent;
    border-color: rgba(34, 34, 34, .05);
    transition: all .35s;

    a {
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
    }

    .navbar-light {
      //opacity: 0.7;
    }

    .navbar-brand {
      font-weight: 900;
      text-transform: uppercase;
      color: $brandprimary;
    }

    .navbar-brand:focus, .navbar-brand:hover {
      color: $darkerorange;
    }

    .navbar-header .navbar-toggle {
      font-weight: 700;
      font-size: 12px;
      color: $lighterink;
      text-transform: uppercase;
    }

    .nav > li > a, .nav > li > a:focus {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      color: $lighterink;
    }

    .show .nav-link, .collapsing .nav-link{
      text-transform: uppercase;
      font-weight: 700;
      font-size: 13px;
      color: $lighterink;
    }

    .nav > li > a:focus:hover, .nav > li > a:hover {
      color: $darkerorange;
    }

  }
}