@import "variables";
#overboot {

  .spots-index {
    background: $backgroundgrad;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    .content {
      max-width: 90%;
      margin: auto;
      .filter-buttons {
        margin: auto;
        text-align: center;
        padding-bottom: 10px;
        .btn {
          background-color: $darkerorange;
          color: $notquitewhite;
          margin-bottom: 10px;
        }
        .btn:hover {
          background-color: $orange;
        }
        .active {
          background-color: $purple;
        }
        .active:hover {
          background-color: $darkerpurple;
        }
      }
      .card {
        display: none;
        //height:0;
        border: 0;
        //margin: 0;
        //overflow:hidden;
        //-webkit-transition: height 500ms ease 0.2s;
        //-moz-transition: height 500ms ease 0.2s;
        //-o-transition:height 500ms ease 0.2s;
        //transition: height 500ms ease 0.2s;
        a:hover {
          text-decoration: none;
          font-weight: 700;
          text-shadow: 0 0 16px $whitetransparent;
          -webkit-transition: 500ms ease 0.2s;
          -moz-transition: 500ms ease 0.2s;
          -o-transition: 500ms ease 0.2s;
          transition: 500ms ease 0.2s;
        }
      }
      .show {
        //border-width: 1px;
        //margin-bottom: 12px;
        //height:300px;
        display: inline-block;
      }
      @media screen and (max-width: 576px) {
        .ninety-container {
          .card {
            width: 100%;
          }
        }
      }

      .more-info {
        height: 0;
        overflow: hidden;
        -webkit-transition: height 500ms ease 0.2s;
        -moz-transition: height 500ms ease 0.2s;
        -o-transition: height 500ms ease 0.2s;
        transition: height 500ms ease 0.2s;
        a:hover {
          -webkit-transition: initial;
          -moz-transition: initial;
          -o-transition: initial;
          transition: initial;
        }
      }
      .card:hover {
        .more-info {
          height: 48px;
        }
      }

      .finder-header {
        position: relative;
        width: 100%;
        text-align: center;
        padding-top: 100px;
      }

      .card-header {
        color: $notquitewhite;
      }
      .free_spot .card-header {
        background-color: $darkerpurple;
        background: $purplegrad;
      }
      .paid_spot .card-header {
        background-color: $darkerorange;
        background: $orangegrad;
      }
      .campsite .card-header {
        background-color: $darkerorange;
        background: $orangegradleft;
      }
      .mtb_spot .card-header {
        background-color: $green;
        background: $greengrad;
      }
      .climbing_spot .card-header {
        background-color: $green;
        background: $greengradleft;
      }
      .surf_spot .card-header {
        background-color: $darkerblue;
        background: $bluegrad;
      }
      .kayaking_spot .card-header {
        background-color: $darkerblue;
        background: $bluegradleft;
      }
      .bad_spot .card-header {
        background-color: red;
        background: $redgrad;
      }
    }
  }
}