@import "variables";
#overboot {
  .table-index {
    background: $backgroundgrad;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    .content {
      margin: auto;
      .filterable {
        display: none;
      }
      .show {
        display: table-row;
      }
      tbody {
        .clickable {
          cursor: pointer;
        }
        td {
          max-height: 60px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

        }
        .limit-width {
          max-width: 220px;
        }
        a{
          color: inherit;
          text-decoration: none;
          -webkit-transition: all .35s;
          -moz-transition: all .35s;
        }
        a:hover {
          color: $brandsecondary;
        }
        .free_spot {
          background-color: $darkerpurple;
          background: $purplegradhoriz;
          &:hover {
            background: $darkerpurple;
          }
        }
        .paid_spot, .campsite {
          background-color: $darkerorange;
          background: $orangegradhoriz;
          &:hover {
            background: $orangeheadercardstart;
          }
        }
        .mtb_spot, .climbing_spot {
          background-color: $darkergreen;
          background: $greengradhoriz;
          &:hover {
            background: $darkergreen;
          }
        }
        .surf_spot, .kayaking_spot {
          background-color: $darkerblue;
          background: $bluegradhoriz;
          &:hover {
            background: $darkerblue;
          }
        }
        .bad_spot {
          background-color: red;
          background: $redgradhoriz;
          &:hover {
            background: red;
          }
        }
      }
      #no-spots-error {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
      }
      .no-spots-error {
        display:none;
      }
    }
  }
}