@import "variables";
#overboot {
  .user-profile {
    background: $backgroundgrad;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    .content {
      margin: auto;
      .card {
        border: 0;
        a:hover {
          text-decoration: none;
          font-weight: 700;
          text-shadow: 0 0 16px $whitetransparent;
          -webkit-transition: 500ms ease 0.2s;
          -moz-transition: 500ms ease 0.2s;
          -o-transition: 500ms ease 0.2s;
          transition: 500ms ease 0.2s;
        }
      }

      @media screen and (max-width: 576px) {
        .ninety-container {
          .card {
            width: 100%;
          }
        }
      }
      .card-header {
        color: $notquitewhite;
      }
      .free_spot .card-header {
        background-color: $darkerpurple;
        background: $purplegrad;
      }
      .paid_spot .card-header, .campsite .card-header {
        background-color: $darkerorange;
        background: $orangegrad;
      }
      .mtb_spot .card-header, .climbing_spot .card-header {
        background-color: $darkergreen;
        background: $greengrad;
      }
      .surf_spot .card-header, .kayaking_spot .card-header {
        background-color: $darkerblue;
        background: $bluegrad;
      }
      .bad_spot .card-header {
        background-color: red;
        background: $redgrad;
      }
    }
  }
}