$font: "Roboto", "Muli", Arial, sans-serif;
$heading-font: "Raleway", "Muli", Arial, sans-serif;


$purple: #663399;
$darkerpurple: #4B2670;
$lighterink: #161028;
$ink: #110C1E;
$lighterblue: #2EAEE2;
$blue: #009DDC;
$darkerblue: #0073A1;
$orange: #FF8822;
$darkerorange: #EE6600;
$lightgrey: #9a9b9b;
$notquitewhite: #f8f9fa;
$whitetransparent: rgba(250, 250, 250, 0.2);
$hoverwhite: #ecf2f6;
$white: #fff;

$brandprimary: $purple;
$brandsecondary: $orange;
