$font: "Roboto", "Muli", Arial, sans-serif;
$heading-font: "Josefin Sans", "Muli", Arial, sans-serif;


$purple: #663399;
$darkerpurple: #4B2670;
$purplecardgradend: #ba77b1;
$purpleheadergradstart: #ba77b1;
$purpleheadergradend: #8176b5;
$purpletransparent: rgba(102, 51, 153, 0.4);
$purplegrad: linear-gradient(to bottom right,$darkerpurple, $purplecardgradend);
$purplegradhoriz: linear-gradient(to right,$darkerpurple, $purplecardgradend);
$purplegradheader: linear-gradient(to bottom right,$purpleheadergradstart, $purpleheadergradend);

$lighterblue: #2EAEE2;
$skyblue: #88CBFF;
$skybluetransparent: rgba(136, 203, 255, 0.2);
$blue: #009DDC;
$darkerblue: #0073A1;
$bluecardgradend: #76c4e2;
$blueheadergradstart: #76c4e2;
$blueheadergradend: #8176b5;
$bluegrad: linear-gradient(to bottom right,$darkerblue,$bluecardgradend);
$bluegradhoriz: linear-gradient(to right,$darkerblue,$bluecardgradend);
$bluegradheader: linear-gradient(to bottom right,$blueheadergradstart,$blueheadergradend);

//$orange: #FF8822;
//$darkerorange: #EE6600;
//$orangecardgradend: #f69259;
//$orangeheadercardstart: #ffdb6f;
//$orangeheadercardend: #f69259;
//$orangegrad: linear-gradient(to bottom right,$darkerorange,$orangecardgradend);
//$orangegradheader: linear-gradient(to bottom right,$orangeheadercardstart,$orangeheadercardend);

$orange: #FF8822;
$darkerorange: #EE6600;
$orangeheadercardstart: #f12711;
$orangecardgradend: #f5af19;
$orangeheadercardend: #f5af19;
$orangegrad: linear-gradient(to bottom right, $orangeheadercardstart,$orangecardgradend);
$orangegradhoriz: linear-gradient(to right, $orangeheadercardstart,$orangecardgradend);
$orangegradheader: linear-gradient(to bottom right,$orangeheadercardstart,$orangeheadercardend);

$green:  #4CB944;
$darkergreen: #388732;
$greencardgradend: #76c4e2;
$greenheadergradstart: #76c4e2;
$greenheadergradend: #85cba8;
$greengrad: linear-gradient(to bottom right,$darkergreen,$greencardgradend);
$greengradhoriz: linear-gradient(to right,$darkergreen,$greencardgradend);
$greengradheader: linear-gradient(to bottom right,$greenheadergradstart,$greenheadergradend);

$redgrad: linear-gradient(to bottom right, darkred, orangered);
$redgradhoriz: linear-gradient(to right, darkred, orangered);


$lighterink: #161028;
$ink: #110C1E;
$lightgrey: #768798;
$notquitewhite: #f8f9fa;
$whitetransparent: rgba(250, 250, 250, 0.6);
$hoverwhite: #D4E5F6;
$white: #fff;

$brandprimary: $purple;
$brandsecondary: $orange;

$backgroundgrad: linear-gradient(to bottom, $skyblue, $purple, $orange);


//jQuery Bar Rating
// Bar
$orange-color: #EDB867;
$green-color: #50E3C2;
$blue-color: #4278F5;

// Stars
$star-default: #d2d2d2;
$star-active: #EDB867;
$star-selected: #EDB867;
