<div class="bg-orange" id="about">
  <div class="container">
    <div class="text-center">
      <h1>About Van Spots</h1>
      <h2>A simple, easy way to find spots to camp in your van.</h2>

      <div class="row align-items-center mx-auto">
        <div class="col-md-1"></div>
        <div class="col-md-2 ">
          <i class="fab fa-osi fa-5x"></i>
        </div>
        <div class="col-md-6">
          <p>
            Van Spots is an open-source project built using Ruby on Rails. It is still in development so let us know if anything isn't working as expected.
            <br />
            All the core functionality is now live; you can sign up, add, find and review spots.
          </p>
        </div>
      </div>

      <div class="row align-items-center mx-auto">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <i class="fas fa-terminal fa-4x"></i>
        </div>

        <div class="col-md-6">
          <p>
            If you want to keep track of progress (or contribute with a pull request) you can see
            what needs doing on the <a href="https://trello.com/b/YGhCRscH/vanspots">Trello Board <i class="fab fa-trello"></i></a>
            and the codebase lives on <a href="https://github.com/phil-6/van-spots">GitHub <i class="fab fa-github"></i></a>.
          </p>
        </div>
      </div>

      <div class="row align-items-center mx-auto">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <i class="fas fa-info-circle fa-5x"></i>
        </div>

        <div class="col-md-6">
          <p>
            If you want to get in touch with me, drop me an <a href="mailto:VanSpots@ElasticParsley.uk">email</a>.
            <br />
            Suggestions and more are welcome.
            <br />
            More information coming soon!
          </p>
        </div>
      </div>



    </div>

    <!--<div class="credits">
      <h4>Credits</h4>
      <div>Icons made by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      <h4>Resources</h4>
    </div>-->
  </div>
</div>