<div class="bg-orange" id="about">
  <div class="container">
    <div class="text-center">
      <h1>About Van Spots</h1>
      <h2>A simple, easy way to find spots to camp in your van.</h2>

      <div class="row">
        <div class="col">
          <span class="fa-stack fa-2x">
            <i class="fas fa-pound-sign fa-stack-2x"></i>
            <i class="fas fa-slash fa-stack-2x" style="color:lightgray"></i>
          </span>
          <p>
            Van Spots is free resource, with no ads. The aim is to keep it that way.
            <br/>
            It takes some clever engineering in order to do this. You may notice at times the site takes a long time to load, this is because it turns off when no one is using it.
            <br/>
            We're working at the moment to try and improve performance across all areas of the site.

          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <i class="fas fa-code fa-3x"></i>
          <p>
            Van Spots is an open-source project built by one person in their spare time using Ruby on Rails.
            <br/>
            It is <em>still in development</em> so let me know if anything isn't working as expected.
            <br/>
            All the core functionality is now live; you can sign up, add, find and review spots.
            <br/>
            If there are any features you would like to see, any feedback you would like to give, or any bugs that you find please get in touch.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <i class="fas fa-code-branch fa-3x"></i>
          <p>
            If you want to keep track of progress (or contribute with a pull request) you can see
            what needs doing on the
            <a href="https://trello.com/b/YGhCRscH/vanspots">Trello Board <i class="fab fa-trello"></i></a>
            and the codebase lives on
            <a href="https://github.com/phil-6/van-spots">GitHub <i class="fab fa-github"></i></a>. If want to use the data, then we also have an API. G

            et in touch and we can talk to you about usage.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <i class="fas fa-envelope fa-3x"></i>
          <p>
            If you want to get in touch with suggestions or just to have a chat, drop me an <a href="mailto:VanSpots@PurpleRiver.dev">email</a>.
            <br/>
            More information coming soon!
          </p>
        </div>
      </div>


      <a class="js-scroll-trigger" href="#news"><i class="fas fa-5x fa-chevron-down"></i></a>
    </div>

    <!--<div class="credits">
      <h4>Credits</h4>
      <div>Icons made by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      <h4>Resources</h4>
    </div>-->
  </div>
</div>