<div class="bg-orange" id="about">
  <div class="container">
    <div class="text-center">
      <h1>About Van Spots</h1>
      <h2>A simple easy way to find spots to camp in your van.</h2>


      <p>Van Spots is an open-source work in progress.
        <br />
        It started as a learning exercise using Ruby on Rails.
        <br />
        All the core functionality is now live; you can sign up, add, find and review spots.
        <br />
        If you want to keep track of progress (or contribute with a pull request) you can see
        what needs doing on the <a href="https://trello.com/b/YGhCRscH/vanspots">Trello Board <i class="fab fa-trello"></i></a>
        and the codebase lives on <a href="https://github.com/phil-6/van-spots">GitHub <i class="fab fa-github"></i></a>.
        <br />
        If you want to get in touch with me, drop me an <a href="mailto:VanSpots@ElasticParsley.uk">email</a>.
        <br />
        Suggestions and more are welcome.
      </p>
      <p> More information coming soon!</p>
    </div>

    <!--<div class="credits">
      <h4>Credits</h4>
      <div>Icons made by <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      <h4>Resources</h4>
    </div>-->
  </div>
</div>