

<header>
  <%= render partial: 'layouts/nav' %>
  <div class="header-content">
    <div class="header-content-inner">
      <div id="homeHeading">
        <h1> <span class="headingBrandVan">Van</span> <span class="headingBrandSpots">Spots</span> </h1>
      </div>

      <hr>
      <p>Coming Soon</p>
<!--      <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>-->
    </div>
  </div>
</header>