<div class="container" id="how_to">
  <div class="text-center">
    <h1>How to use Van Spots</h1>
    <p>More details coming soon</p>
  </div>
  <div>
    <h2>Finding a Spot</h2>
    <p>
      There are two ways of finding a spot to camp in, you can either browse the <a href="/map">Map</a> or use the <a href="/spots">Spot Finder</a> to browse for a spot.
      <br>
      There are some basic filters on the spots index with hopefully some more coming soon.
    </p>
  </div>
  <div>
    <h2>Signing Up</h2>
    <p>Click the link in the nav bar and <a href="users/sign_up">sign up</a></p>
  </div>
  <div>
    <h2>Adding a Spot</h2>
    <p>Either find the location on the map and click or tap on the map or enter the latitude and longitude yourself on the <a href="/spots/new">create spot page</a></p>
  </div>
  <div>
    <h2>Rating a Spot</h2>
    <p>View the Spot and click <strong><em>Rate Spot</em></strong></p>
  </div>
  <div>
    <h2>Editing a Spot</h2>
    <p>If you are the person who created the spot then you can edit it. There should be an <strong><em>Edit Spot</em></strong> button next to the <strong><em>Rate Spot</em></strong> button</p>
  </div>
  <div>
    <h2>Editing your profile</h2>
    <p>From your Profile page, click the <strong><em>Edit Profile</em></strong> button</p>
  </div>
  <br>
  <div>
    <h4><small>P.S. <em>How To</em> is also a great <a href="https://xkcd.com/how-to/">book by Randall Munroe</a></small></h4>
  </div>
</div>