<div class="container" id="news">
  <div class="text-center">
    <h1>Latest Updates</h1>
    <h2>01/11/2019</h2>
    <p>
      Van Spots has had some performance improvements and a load more spots added.
      <br>
      Please let us know if you have any issues!
    </p>
    <h2>25/09/2019</h2>
    <p>Update to front page</p>
    <h2>23/09/2019</h2>
    <p>Lots of little background updates and a major change to the design of the Spot Finder page</p>
  </div>
</div>