<div class="container" id="news">
  <div class="text-center">
    <h1>Latest Updates</h1>
    <h2>26/11/2019</h2>
    <p>Update the front page to add most recent spots and reviews</p>
    <hr>
    <h2>08/11/2019</h2>
    <p>
      Updated the default sorting of spots on the index page, so the best rated spots are now at the top.
      <br>
      Added loading icon to increase descriptiveness of background processes.
    </p>
    <hr>
    <h2>01/11/2019</h2>
    <p>
      Van Spots has had some performance improvements and a load more spots added.
      <br>
      Please let us know if you have any issues!
    </p>
    <hr>
    <h2>25/09/2019</h2>
    <p>Update to front page</p>
    <hr>
    <h2>23/09/2019</h2>
    <p>Lots of little background updates and a major change to the design of the Spot Finder page</p>
    <hr>
    <a class="js-scroll-trigger" href="#spots"><i class="fas fa-5x fa-chevron-down"></i></a>

  </div>
</div>