<nav class="navbar navbar-expand-md navbar-light bg-light navbar-fixed-top">
  <a class="navbar-brand" href="#">Van Spots</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#vanSpotsNav" aria-controls="vanSpotsNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Map</a></li>
    <li><a href="#">Finder</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  </ul>
  </div>
</nav>